

.container {
 position: relative;
 top: 50%;
 left: 10%;
 width: 1000px;
 height: 550px;
 border-radius: 10px;
 background: #FFFFFF;
 font-family: "DM Sans", sans-serif;
 font-style: normal;
 
}
.search-input {
  position: relative;
  left: 100px;
  top: 5px;
  background: #FFFFFF;
  color: #000000;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  width: 50%;
  transition: all 250ms ease-in-out;

}

.search-input:hover {
  color: #000000;
  background: #f7f5f5;
}

.search-button {
  position: relative;
  left: 100px; 
  top: 5px;
  width: 90px;
  background: #00CDC0;
  color: #FFFFFF;
  border: none;
  padding: 11px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 250ms ease-in-out;

}

.search-button:hover {
  color: #00CDC0;
  background: #FFFFFF;
  border: solid 1px #2e9dac;
}

.current-city, .current-date, .current-temperature-value, footer {
 font-family: "Noto Sans", sans-serif;
 font-weight: 400;
 font-style: normal;

}

footer {
  text-align: center;
  font-size: 18px;
  position: relative; 
  top: 200px;
  padding-bottom: 20px 0 20px 0px;
  margin: 25px;
}

.current-city {
 position: relative;
 top: 20px;
 left: 100px;
 line-height: 10px;
 font-size: 40px;
 font-weight: 800;
}

.current-date  {
  position: relative;
  top: 30px;
  left: 100px;
  color: gray;
 }

 .humidity, .wind-speed {
  position: relative;
  color: #df6dbd;
 }

  .weather-icon {
  position: relative;
  width: 120px;
  height: 120px;
  left: 600px;
  top: -65px;

 }
 
.current-temperature-value {
    position: relative;
    font-size: 88px;
    font-weight: bold;
    top: -190px;
    left: 720px;
  }

 

  .current-temperature-unit {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    left: 710px;
    top: -240px;
  }

  













