body {
  background: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}
  

.search-input {
  background: #FFFFFF;
  color: #000000;
  border: solid 1px #00CDC0;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px;
  width: 75%;

}

.search-button {
  background: #00CDC0;
  color: #FFFFFF;
  border: solid 1px #00CDC0;
  padding: 6px;
  border-radius: 3px;
  margin-left: 5px;
  width: 15%;
  
}

.current-weather {
 padding: 20px;
 
}
.current-city, .current-date {
 font-family: "Noto Sans", sans-serif;
 font-weight: 400;
 font-style: normal;
}

.current-city {
 font-size: 40px;
}

.current-date  {
 line-height: 20px;
  
  }

  .current-temperature-emoji {
    position: relative;
    top: -40px;
    font-size: 40px;
    margin-left: 450px;
  }











