* {
  box-sizing: border-box;
}

body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/156/822/original/sunset.jpg?1738869632");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif
}

button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  display: block;
  margin: auto;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

button:hover {
  background: #000000;
  color: #f9f7fe;
}


header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-form-input {
  background: #d6ebe7;
  border: none;
  color: rgba(5, 176, 189, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.search-form-input:hover{
  background: #b5dbd4;
  color: rgba(4, 78, 100);
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background: rgba(5, 176, 189, 0.4);
  color: #d6ebe7;
  border: none;
  padding: 20px;
  line-height: 15px;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.search-button:hover{
  background: #b5dbd4;
  color: rgba(0, 74, 92);
 
}

main {
  padding: 30px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  
}

.current-temperature {
  font-size: 48px;
  color: rgba(21, 20, 26, 0.904);
}

.current-city {
  font-size: 28px;
  font-weight: 600;
  margin-right: 20px;
  padding-right: 50px;
  color: rgba(21, 20, 26, 0.904);
}
.current-date {
  color: rgba(21, 20, 26, 0.904);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-date strong {
  color: #ffffff;
  
}

.current-temperature-icon {
  position: relative;
  top: 50px;
  right: 50px;
  max-width: 88px;
  min-height: 88px;
}

.current-temperature-value {
  position: relative;
  top: -60px;
  left: 420px;
  font-size: 88px;
  font-weight: bold;
   color: rgba(21, 20, 26, 0.904);
}

.current-temperature-unit {
  font-weight: bold;
  font-size: 28px;
  position: relative;
  top: -170px;
  left: 520px;
  color: rgba(21, 20, 26, 0.904);
}

footer {
  font-weight: bold;
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 10px;
  color: rgba(0, 204, 255);
}

a {
  color: rgba(21, 20, 26, 0.904);
  font-weight: 200;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 190px;
  margin-right: 800px
}

.weather-forecast-date {
  text-align: center;
  color: rgba(21, 20, 26, 0.904);
  font-size: 16px;
  margin: 60px 0 30px 0;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  max-width: 88px;
  min-height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  color: rgba(21, 20, 26, 0.904);
  margin-top: 1px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

.dark {
 background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/157/937/original/storm-clouds.jpg?1739736782");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  
}



.dark button {
  background: #000000;
  color: white;
}

.dark button:hover {
  background: #000000;
  color: white;
}



.dark header {
  border-bottom: 1px solid #9d99a7;
  padding-bottom: 30px;
}

 .dark .search-form-input {
   background: #445455;
  color: white;
  border: none;
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.dark .search-form-input:hover{
  background: #000000;
  color: #f9f7fe;
}

.dark .search-button {
  margin-left: 5px;
  font-size: 16px;
  background: #445455;
  color: white;
  border: none;
  padding: 20px;
  line-height: 15px;
  border-radius: 5px;
}

.dark .search-button:hover{
  background: #000000;
  color: #f9f7fe;
}


.dark main {
  padding: 30px 0;
  color: #f9f7fe;
}

.dark .current-weather {
  display: flex;
  justify-content: space-between;
  color: #445455;
}
.dark .current-temperature {
  font-size: 48px;
}

.dark .current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  color: #f9f7fe;
}
.dark .current-date {
  color: #f9f7fe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.dark .current-date strong {
  color: #0798ac;
  
}

.current-temperature-icon {
  position: relative;
  top: 50px;
  left: 350px;
  max-width: 88px;
  min-height: 88px;
}

.current-temperature-value {
  position: relative;
  top: -60px;
  left: 420px;
  color: #f9f7fe;
  font-size: 88px;
  font-weight: bold;
}

.dark .current-temperature-unit {
  font-weight: bold;
  color: #f9f7fe;
  font-size: 28px;
  position: relative;
  top: -170px;
  left: 520px;
}

.dark footer {
  color: #31c9ce;
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 25px;
  color: rgba(0, 74, 92, 1);
}

.dark .weather-forecast {
  display: flex;
  justify-content: space-around;
  
}

.dark .weather-forecast-date {
  text-align: center;
  color: #f9f7fe;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.dark .weather-forecast-icon {
  max-width: 88px;
  min-height: 88px;
  display: block;
  margin: 0 auto;
}
.dark .weather-forecast-temperatures {
  text-align: center;
  color: #0798ac;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.dark .weather-forecast-temperature {
  padding: 0 10px;
}

















